<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Thông tin phòng</title>
</head>

<body>
	<h1>Thông tin phòng <span th:text="${room.name}"></span></h1>
	<table>
		<tr>
			<td th:text="'Tên phòng: '" align="left"></td>
			<td th:text="${room.name}"></td>
		</tr>
		<tr>
			<td th:text="'Loại phòng: '" align="left"></td>
			<td th:text="${room.type}"></td>
		</tr>
		<tr>
			<td th:text="'Giá phòng: '" align="left"></td>
			<td th:text="${room.price} + '/ngày'"></td>
		</tr>
		<tr>
			<td th:text="'Ghi chú: '" align="left"></td>
			<td th:if="${room.description}" th:text="${room.description}"></td>
		</tr>
		<tr>
			<td th:text="'Url hình ảnh: '" align="left"></td>
			<td th:text="${room.image}"></td>
		</tr>
		<tr>
		    <td colspan="2">
		        <img th:src="${room.image}" alt="Room image" style="width:50%;"/>
		    </td>
		</tr>
		<tr>
			<td>
				<button><a th:href="@{/}" th:text="'Trang chủ'"></a></button>
			</td>
			<td>
				<button><a th:href="@{/manage/room/change/{id}(id=${room.id})}" th:text="'Chỉnh sửa'"></a></button>
			</td> 
		</tr>
	</table>

</body>