<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Danh sách phòng</title>
	<style>
		.room-item {
		  display: flex;
		  align-items: center;
		  justify-content: space-between;
		  margin-bottom: 20px;
		}
		
		.room-info {
		  margin-left: 20px;
		  flex-grow: 1;
		}
		
		.room-buttons {
		  display: flex;
		  align-items: center;
		  justify-content: flex-end;
		}
		
		.room-button {
		  display: block;
		}

	</style>
</head>

<body>
	<div>
		<button><a th:href="@{/}" th:text="'Trang chủ'"></a></button>
		<button><a th:href="@{/manage/room/add}" th:text="'Thêm phòng'"></a></button>
	</div>
	
	<h1>Danh sách phòng</h1>
	<ul>
	  <li th:each="room: ${rooms}" class="room-item">
	    <img th:src="${room.image}" alt="Room image" style="width: 25%;">
	    <div class="room-info">
	      <h3 th:text="${room.name}"></h3>
	      <p th:text="${room.type}"></p>
	      <p th:text="${room.price} + ',000 VNĐ/ngày'"></p>
	    </div>
	    <div class="room-buttons">
	      <button><a th:href="@{/manage/room/details/{id}(id=${room.id})}" th:text="'Chi tiết'"></a></button>
	      <button><a th:href="@{/manage/booking/{id}(id=${room.id})}"th:text="'Yêu cầu đặt phòng'"></a></button>
	    </div>
	  </li>
	</ul>
	
</body>

</html>